#NombrePágina {
    text-align: center;
    font-size: 50px;
    padding: 75px;
    background-color: rgb(18, 3, 39);
    color:aliceblue
}
#Eslogan {
    text-align: center;
    background-color: rgb(236, 236, 236) ;
    padding: 20px;
    color:rgb(0, 0, 0)
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 -20px 15px rgba(0, 0, 0, 5), inset 0 20px 15px rgba(0, 0, 0, 5);   
}
header {
    background-image: url('../Imagenes/Header1.jpg'); 
    background-size: cover;  /* Ajusta la imagen para cubrir toda el área */
    background-position: center;  /* Centra la imagen */
    background-attachment: fixed; /* La imagen permanece fija cuando se hace scroll */
    height: 300px; /* Ajusta la altura del header */
    color: white; /* Establece el color del texto para que se vea sobre el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 1), inset 0 10px 20px rgba(0, 0, 0, 1);
}
body {
    cursor: url('../Imagenes/Cursor1.png') 5 5, auto;  
    background-color: rgb(0, 0, 0);
          
}
button, a {    
    cursor: url('../Imagenes/Manita1.png') 5 5, pointer;
}

footer {
    margin-top: 100px;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    background-color: black;
    color: aliceblue;
    padding: 40px;
}

footer .footerdiv {
    margin-top: 50px; 
    margin-bottom: 20px; 
  }

footer .copydiv {
    align-self: flex-end;
    margin-left: 20px;
    margin-bottom: 20px; 
}

*{
    padding: 0;
    margin: 0;
}
#MainSection {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: black;
    padding-bottom: 150px;
}
#MainSection header{
    font-size: 50px;
}
#MainSection p {
    padding-top: 50px;
}
#Sección1 div {
    padding: 75px;
    color: rgb(237, 240, 243);
}
#Sección2 div {
    padding: 75px;
    color: rgb(237, 240, 243);
}
#Sección3 div {
    padding: 75px;
    color: rgb(237, 240, 243);
}
#Sección1 {
    padding: 60px;
    display: flex;
    align-items: center;
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 55%, rgba(0, 0, 0, 1) 70%), url('../Imagenes/Seccion1.jpeg');
    background-size: cover;  
    background-position: center;  
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.9), inset 0 10px 20px rgba(0, 0, 0, 0.9);
}
#Sección2 {
    padding: 60px;
    display: flex;
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 55%, rgba(0, 0, 0, 1) 70%), url('../Imagenes/Seccion2.png'); 
    background-size: cover;  
    background-position: center;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.9), inset 0 10px 20px rgba(0, 0, 0, 0.9);  
}
#Sección3 {
    padding: 60px;
    display: flex;
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 55%, rgba(0, 0, 0, 1) 70%), url('../Imagenes/Seccion3.webp');
    background-size: cover;  
    background-position: center; 
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.9), inset 0 10px 20px rgba(0, 0, 0, 0.9); 
}
#Sección1,#Sección2,#Sección3 { 
    margin-left: auto;
    margin-right: auto;
}

#presentacion {
    color: aliceblue;
    padding: 100px;
    font-size: 25px;
    font-weight: bold;
    opacity: 0; /* Empieza invisible */
    animation: revelarTexto 4s forwards; /* Aplica la animación */
}

.seccionDestinos {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    box-shadow: inset 0 -16px 10px rgba(0, 0, 0, 1), inset 0 16px 10px rgba(0, 0, 0, 1), inset -16px 0 10px rgba(0, 0, 0, 1),
    inset 16px 0 10px rgba(0, 0, 0, 1);
}
.seccionDestinos:hover {     /*Transicion de los enlaces*/
    color: #000000;
    background-color: rgba(255, 255, 255, 1); 
    transition: color 1s ease;
    z-index: -1;
}

@keyframes revelarTexto {    /*Texto animado */
    0% {
        clip-path: inset(0 100% 0 0); /* Empieza cortando el texto a la derecha */
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 0 0); /* Termina mostrando todo el texto */
        opacity: 1;
    }
}

.menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .enlaces {
    display: inline-block;
    top: 100%;
}

.menu .enlaces a {    /*Contenedor de los enlaces*/
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    box-shadow: inset 0 -16px 10px rgba(0, 0, 0, 1), inset 0 16px 10px rgba(0, 0, 0, 1), inset -16px 0 10px rgba(0, 0, 0, 1),
    inset 16px 0 10px rgba(0, 0, 0, 1);


}

.menu .enlaces a:hover {    /*Transicion de los enlaces*/
    color: #000000;
    background-color: rgba(255, 255, 255, 1); 
    transition:cubic-bezier(1, 0, 0, 1);
    z-index: -1;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 10;
    margin-left: auto; /* Alinea el botón a la derecha */
   
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: #fff;
}

@media (max-width: 768px) {
    .menu{
        flex-direction: column;
    }
    .menu .enlaces {
        display: none; /* Ocultar los enlaces del menú en móvil */
        text-align: center;
    }

    .menu .enlaces.active {
        display: flex; /* Mostrar los enlaces cuando se activa la clase 'active' */
        flex-direction:column;
        transform: translateY(0);
    }

    .menu-toggle {
        display: flex; /* Muestra el ícono hamburguesa en pantallas pequeñas */
        top:auto;
    }


}


